# Telegram (required)
API_ID="16073849"
API_HASH="e84dd69cd0504b8b45b2fd6a4e19068d"
BOT_TOKEN="6572053396:AAHC2-GzA68PJynwOCfYpkbaPZBgVn4SPw8"
USER_SESSION_STRING="BQD1RHkART-uvIDsK7byyX81curWB1hd1TdGj1EjizE6PgBsezaLgLshPmvJVButhwpzyk9JTAdCPO3THUE1dvvAXzIyHFtmcKM6XXtmBrdzVavkXGfzRwG7miD7oHniI1wUcnnmkzW_MX_jL40X3WjjLKRi5SpBR9pa6b5gffkrY9UKmcRmPgETmeoj8U6rV3DGzG9grAGPapEWDVwThfaqyRkwSoQP4nEui7voyQUuAWxhuPrT6J6UnPp1JaJu2whCGHyADJUH2Rnj0Y2Ii9a3xEey7aOOGcoDIyFs_nQ9NDRI6qbsVLWkO3XYl2DOonthEOoDwr3iJ36QyIr4YTp1ci-NuQAAAAFJ-SbtAA"
OWNER_ID="5536032493"

# Database (required — comma-separated URIs, exactly 2: tracking, storage_1)
DATABASE="mongodb+srv://bshegde:bshegde13@cluster0.ywewqyr.mongodb.net/?appName=Cluster0 , mongodb+srv://bshegde:bshegde@cluster0.hvqouzg.mongodb.net/?appName=Cluster0"

# Server (required)
PORT="8000"
