# Telegram (required)
API_ID="16073849"
API_HASH="e84dd69cd0504b8b45b2fd6a4e19068d"
BOT_TOKEN="8929523486:AAH3apcRUVkysrQpp3CCHC_0TRzNlbfqqg4"
USER_SESSION_STRING="BQD1RHkAPco-JLLR4oFTKgTOTv-3idghHTt7VMiRYU9al4Eh77bcBimQ0GbJor0roX3d2Tak2dZtoD45tz8MAi0LhAYrSjwpJ7lEAngMUa38_Kr6Cs117lfPIpc4isrqBr3JSDp-8FLx8vuTuq7VhPPOWvVVLILpW4rOlA54ouXDITH_sh6ATPlj1l8JYu5e6vcc1Ardtnhl1B2KLEOPsz1a4-SqIxz7cJfwGaZHD9D_wvSH9OWLaJd_hMUgIf_Gewv6yCsrQwDLnC8h-6IEjC5eMtqe5eoGGx9CQMtXrU0Id3qtKymxq-31g7KvRwtRab52xNaVBJkc5c_KtwY-0KzghnIVowAAAAFJ-SbtAA"
OWNER_ID="5536032493"

# Database (required — comma-separated URIs, exactly 2: tracking, storage_1)
DATABASE="mongodb+srv://bshegde:bshegde13@cluster0.ywewqyr.mongodb.net/?appName=Cluster0 , mongodb+srv://bshegde:bshegde@cluster0.hvqouzg.mongodb.net/?appName=Cluster0"

# Server (required)
PORT="8000"
